.home {
  background-color: #B9D7EA;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.home-container img {
  width: 18rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-button {
  border: none;
  color: black;
  background-color: white;
  width: 40%;
  height: 3rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 3px 3px gray;
  font-weight: 600
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.register-right {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding: 2rem 10%;
}

.register-right img {
  width: 70%;
  margin-bottom: 2rem;
}

.register-right form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.input-container input {
  border: none;
  height: 2.5rem;
  width: 70%;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0 0.5rem;
}

.input-name {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.width {
  width: 8rem;
  color: white;
  background-color: #769FCD;
  font-weight: 600;
}

.input-link {
  font-size: 1rem;
}

.login {
  background-color: #B9D7EA;
  height: 100vh;
  display: flex;
  width: 100%;
}

.login-left {
  width: 40%;
  padding: 5% 5% 0 5%;
}

.login-left-content {
  padding: 0 0 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  color: #686C6D;
}

.login-left-content p {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(65, 65, 65);
}

.login-left img {
  width: 8rem;
}

.login-right {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding: 5rem 10%;
}

.login-right img {
  width: 70%;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  justify-content: space-between;
}

.login-input-container input {
  background-color: #F2F5F5;
  border: none;
  height: 3rem;
  width: 90%;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0 5%;
  border: 1px solid rgb(172, 172, 172);
  margin-bottom: 2rem;
}

.register-input-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  justify-content: space-between;
}

.register-input-container input {
  background-color: #F2F5F5;
  border: none;
  height: 3rem;
  width: 90%;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0 5%;
  border: 1px solid rgb(172, 172, 172);
  margin-bottom: 0.5rem;
}

.login-right form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.margin {
  margin-top: 2rem;
}