.room-main-container {
  width: 60%;
  margin: 1% 20%;
  border: 2px solid #B9D7EA;
  display: flex;
  flex-direction: column;
  height: 80%;
  border-radius: 5px;
}

.room-main {
  width: 96%;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  padding: 1% 2%;
  overflow: scroll;
}

.room-nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  border-bottom: 2px solid #E5E5E5;
  align-items: center;
  padding: 0 2%;
}

.room-nav button {

}

.room-nav div {
  display: flex;
  font-size: 1.5rem;
  color: #585858;
}

.input-text {
  flex: 1;
  border: none;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  font-weight: 500;
}

.button-text {
  width: 5rem;
  border: none;
  height: 3rem;
  background-color: #769FCD;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0 0 5px 0;
  cursor: pointer;
}

.modal {
  width: 15rem;
  height: 20rem;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}